{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static '/vendor/css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static '/vendor/img/favicon.png' %}" type="image/png">

    {% block css %} {% endblock %}

</head>

<body>
<div class="flex-wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img id="logo-image" src="{% static '/vendor/img/favicon.png' %}" alt="logo">
                F-Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:category' 0 %}"><i class="fas fa-shopping-bag"></i>
                            Catalog
                        </a>
                    </li>

                    <!-- New Cart Dropdown -->
                    {% url 'users:profile' as profile_url %}
                    {% url 'orders:create_order' as checkout_url %}
                    {% if request.path != profile_url and request.path != checkout_url %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="cartDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <div id="base-cart-total-quantity-wrapper">
                                    <div id="base-cart-total-quantity"
                                         style="display: none">
                                    </div>
                                </div>
                                <i class="fas fa-shopping-cart"></i> Cart
                            </a>
                            <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                <!-- Dropdown Cart Items -->
                                <div id="cart-content" style="display: none">
                                    <div class="cart-items">
                                        {# cart items here #}
                                        <div id="total-cost" class="cart-total">
                                            {# Total 0.00 € #}
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-around">
                                        <a href="{% url 'users:profile' %}" class="btn btn-primary">To Cart</a>
                                        <a href="{% url 'orders:create_order' %}" class="btn btn-secondary">Checkout</a>
                                    </div>
                                </div>
                                <div id="empty-cart-message" style="display: block">
                                    <h4 class="mt-3 mb-3 text-center">
                                        Cart is empty
                                    </h4>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i> {{ user.username }}
                            </a>
                            <ul class="dropdown-menu user-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'orders:orders_list' %}">Orders</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin-panel</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> Log in
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>

    <div class="container content">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Page Content -->
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <footer class="bg-dark text-white mt-5 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About Us</h5>
                        <p>We offer the trendiest clothes and accessories for you. Stay stylish with F-Store!</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Contact</h5>
                        <p>Email: support@f-store.com</p>
                        <p>Phone: +1 234 567 890</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Follow Us</h5>
                        <div class="footer-social-icons">
                            <a href="https://www.facebook.com/" class="text-white"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/" class="text-white"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/" class="text-white"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center mt-4 footer-inscriptions">
                <p>Designed by Serhii Fil</p>
                <p>F-Store Copyright &copy; 2023</p>
            </div>

        </footer>
    {% endblock %}

</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src="{% static '/vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        setDropdown();
        sendCartToBackend();
        getCartItems();
    });

    function setDropdown() {
        const isMobile = window.matchMedia("only screen and (max-width: 992px)").matches;

        if (isMobile) {
            let dropdownToggles = document.querySelectorAll('.dropdown-toggle');
            dropdownToggles.forEach(function (toggle) {
                let dropdownMenu = toggle.nextElementSibling;  // Changed 'this' to 'toggle'
                if (dropdownMenu) {  // Check if dropdownMenu is not null or undefined
                    {% if request.path == profile_url or request.path == checkout_url %}
                        dropdownMenu.style.top = "130px";
                    {% endif %}
                }
                toggle.addEventListener('click', function (e) {
                    e.preventDefault();

                    if (dropdownMenu.style.display === "block") {
                        dropdownMenu.style.display = "none";
                        document.body.classList.remove('no-scroll');
                    } else {
                        dropdownMenu.style.display = "block";
                        document.body.classList.add('no-scroll');
                    }
                });

            });

        }

        // Listen for collapse events on the main menu
        $('#navbarResponsive').on('hidden.bs.collapse', function () {
            // Close all open sub-menus
            $('.dropdown-menu').hide();
            document.body.classList.remove('no-scroll');
        });
    }

    function sendCartToBackend() {
        let isUserAuthenticated = getAuthenticated();
        let cartItemsString = localStorage.getItem('cartItems');
        if (isUserAuthenticated && cartItemsString && cartItemsString.length > 0) {
            let cartItemsDict = JSON.parse(cartItemsString);
            let cartItemsList = Object.values(cartItemsDict).map(item => ({
                productId: item.productId,
                quantity: item.quantity
            }));

            let csrfToken = getCsrfToken();

            fetch("{% url 'products:save_cart' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(cartItemsList)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status == 'success') {
                        localStorage.removeItem('cartItems');
                    }
                })
                .catch(error => {
                    console.error("There was a problem with the fetch operation:", error);
                });
        }
    }


    function getCartItems() {
        getAuthenticatedAsync().then(isUserAuthenticated => {
            if (isUserAuthenticated) {
                fetch("{% url 'products:get_cart_items' %}")
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            let cartItems = data.cartItems;
                            if (cartItems.length > 0) {
                                if (isBaseCartExists()) {
                                    let cartItemsDiv = document.querySelector('.cart-items');
                                    let totalCostDiv = document.getElementById('total-cost');

                                    cartItems.forEach(cartItem => {
                                        let newCartItem = createNewCartItemHTML(cartItem, cartItem.product_id, cartItem.id);
                                        cartItemsDiv.insertBefore(newCartItem, totalCostDiv);
                                    });

                                    updateTotalQuantityAndCost();
                                    updateTotalQuantityDisplay();

                                    document.getElementById('cart-content').style.display = 'block';
                                    document.getElementById('empty-cart-message').style.display = 'none';

                                } else if (isProfileCartExists()) {
                                    let cartItemsDiv = document.getElementById('profile-cart-content')
                                    let totalCostDiv = document.getElementById('total-cost-div');

                                    cartItems.forEach(cartItem => {
                                        let newCartItem = createNewProfileCartItemHTML(cartItem);
                                        cartItemsDiv.insertBefore(newCartItem, totalCostDiv);
                                    });

                                    updateTotalQuantityAndCost();

                                    document.getElementById('profile-cart-content').style.display = 'block';
                                    document.getElementById('empty-cart-message').style.display = 'none';
                                } else if (isCheckoutCartExists()) {
                                    let cartItemsList = document.querySelector('#checkout-cart-content ul');
                                    let totalCostItem = document.querySelector('#checkout-cart-content .list-group-item:last-child');

                                    cartItems.forEach(cartItem => {
                                        let newCheckoutCartItem = createNewCheckoutCartItemHTML(cartItem);
                                        // Insert new items before the total cost item
                                        cartItemsList.insertBefore(newCheckoutCartItem, totalCostItem);
                                    });

                                    updateTotalQuantityAndCost();
                                }

                            }

                        }
                    })
                    .catch(error => {
                        console.error("There was a problem with the fetch operation:", error);
                    });
            } else {
                // Retrieve cart items from local storage
                let cartItems = localStorage.getItem('cartItems') ? JSON.parse(localStorage.getItem('cartItems')) : {};
                let cartItemsDiv = document.querySelector('.cart-items');
                let totalCostDiv = document.getElementById('total-cost');

                // Check if there are any items in the cart
                if (Object.keys(cartItems).length > 0) {
                    Object.values(cartItems).forEach(cartItem => {
                        let newCartItem = createNewCartItemHTML(cartItem, cartItem.productId, cartItem.cartItemId);
                        cartItemsDiv.insertBefore(newCartItem, totalCostDiv);
                    });

                    updateTotalQuantityAndCost();
                    updateTotalQuantityDisplay();

                    document.getElementById('cart-content').style.display = 'block';
                    document.getElementById('empty-cart-message').style.display = 'none';
                } else {
                    document.getElementById('cart-content').style.display = 'none';
                    document.getElementById('empty-cart-message').style.display = 'block';
                }
            }
        });


    }

    function getAuthenticatedAsync() {
        // Return a promise that resolves with the authentication status
        return fetch("/users/api/check_authentication/")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                return data.is_authenticated;
            })
            .catch(error => {
                console.error("Failed to check authentication status:", error);
            });
    }

    function getAuthenticated() {
        {% if user.is_authenticated %}
            return true;
        {% else %}
            return false;
        {% endif %}
    }


    function isBaseCartExists() {
        let cartExists = document.getElementById('cartDropdown');
        return !!cartExists;
    }

    function isProfileCartExists() {
        let cartExists = document.getElementById('profile-cart-content');
        return !!cartExists;
    }

    function isCheckoutCartExists() {
        let cartExists = document.getElementById('checkout-cart-content');
        return !!cartExists;
    }

    function updateTotalQuantityDisplay() {
        if (isBaseCartExists()) {
            const totalQuantityElement = document.getElementById('base-cart-total-quantity');
            const totalQuantity = parseInt(totalQuantityElement.textContent, 10);

            if (totalQuantity === 0 || isNaN(totalQuantity)) {
                totalQuantityElement.style.display = 'none';
            } else {
                totalQuantityElement.style.display = 'block';
            }
        }

    }

    function updateFrontCart(cartItemId, action) {
        // Get the individual cart item's quantity and cost elements
        let itemQuantityInput = document.querySelector(`[data-cart-item-id="${cartItemId}"]`);
        let itemCostElement = document.querySelector(`[cart-cost-id="${cartItemId}"]`);
        let itemPriceInput = document.querySelector(`[price-id="${cartItemId}"]`);

        let currentQuantity = parseInt(itemQuantityInput.value);
        let currentPrice = parseFloat(itemPriceInput.value);

        if (action === 'add') {
            currentQuantity += 1;
        } else if (action === 'minus') {
            currentQuantity -= 1;
        } else if (action === 'remove') {
            currentQuantity = 0;
        }

        if (currentQuantity === 0) {
            // Remove the entire cart item div using the id

            let cartItemDiv = document.getElementById(`cart-item-${cartItemId}`);
            if (cartItemDiv) {
                cartItemDiv.remove();
            }
        } else {
            // Update the quantity and cost for the cart item
            itemQuantityInput.value = currentQuantity;
            itemCostElement.textContent = `${(currentQuantity * currentPrice).toFixed(2)} €`;
        }


        updateTotalQuantityAndCost()

        updateTotalQuantityDisplay();
    }

    function updateTotalQuantityAndCost() {
        // Update the total quantity and total cost
        let totalQuantityElement = document.getElementById('base-cart-total-quantity') ||
            document.getElementById('profile-cart-total-quantity') ||
            document.getElementById('checkout-cart-total-quantity');
        let totalCostElement = document.getElementById('total-cost');

        let allQuantities = document.querySelectorAll('[data-cart-item-id]');
        let allCosts = document.querySelectorAll('[cart-cost-id]');

        let totalQuantity = 0;
        let totalCost = 0;

        allQuantities.forEach(input => {
            totalQuantity += parseInt(input.value || input.textContent);
        });

        allCosts.forEach(cost => {
            totalCost += parseFloat(cost.textContent);
        });

        totalQuantityElement.textContent = totalQuantity;
        let totalWord = document.getElementById('checkout-cart-total-quantity') ? '' : 'Total ';
        totalCostElement.textContent = totalWord + `${totalCost.toFixed(2)} €`;

        if (totalQuantity === 0) {
            let cartContent = document.getElementById('cart-content') ||
                document.getElementById('profile-cart-content');
            cartContent.style.display = 'none';
            document.getElementById('empty-cart-message').style.display = 'block';
        }
    }

    function updateCart(cartItemId, action) {
        if (getAuthenticated()) {
            let csrfToken = '{{ csrf_token }}';  // Get the CSRF token

            fetch("{% url 'products:update_cart' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    'cart_item_id': cartItemId,
                    'action': action
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === 'success') {
                        updateFrontCart(cartItemId, action);
                    }
                })
                .catch(error => {
                    console.error("There was a problem with the fetch operation:", error);
                });
        } else {
            // If user is not authenticated, update the cart in local storage
            let cartItems = localStorage.getItem('cartItems') ? JSON.parse(localStorage.getItem('cartItems')) : {};
            if (action === 'add' || action === 'minus') {
                if (cartItems[cartItemId]) {
                    let newQuantity = action === 'add' ? cartItems[cartItemId].quantity + 1 : cartItems[cartItemId].quantity - 1;
                    if (newQuantity > 0) {
                        cartItems[cartItemId].quantity = newQuantity;
                    } else {
                        delete cartItems[cartItemId]; // remove item from cart if quantity is 0
                    }
                }
            } else if (action === 'remove') {
                delete cartItems[cartItemId]; // remove item from cart
            }

            // Check if cartItems is empty, if so delete it from localStorage
            if (Object.keys(cartItems).length === 0) {
                localStorage.removeItem('cartItems');
            } else {
                // Save the updated cart items back to local storage
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
            }

            // Update the front end to reflect the changes
            updateFrontCart(cartItemId, action);
        }
    }


    function incrementQuantity(cartItemId) {
        updateCart(cartItemId, 'add');
    }

    function decrementQuantity(cartItemId) {
        updateCart(cartItemId, 'minus');
    }

    function removeCartItem(cartItemId) {
        updateCart(cartItemId, 'remove');
    }

    function getCsrfToken() {
        return '{{ csrf_token }}';
    }


    function getProductDataFromAttributes(productId) {
        let productDiv = document.querySelector(`[data-product-id='${productId}']`);
        return {
            name: productDiv.querySelector(`[prod-name-id='${productId}']`).textContent,
            image: productDiv.querySelector(`[prod-img-id='${productId}']`).src,
            price: parseFloat(productDiv.querySelector(`[prod-price-id='${productId}']`).textContent),
            quantity: '1'
        };
    }

    function getProductDataFromIds() {
        return {
            name: document.getElementById('name').textContent,
            image: document.getElementById('image').src,
            price: parseFloat(document.getElementById('price').textContent),
            quantity: '1'
        };
    }

    function createNewCartItemHTML(productData, productId, cartItemId) {
        let linkToDetail = "{% url 'products:detail' 0 %}".replace('0', productId);
        let newCartItem = document.createElement('div');
        newCartItem.className = 'cart-item';
        newCartItem.id = `cart-item-${cartItemId}`;
        newCartItem.innerHTML = `
            <a href="${linkToDetail}">
                <img src="${productData.image}" alt="${productData.name}" class="cart-item-image">
            </a>
            <div class="cart-item-details">
                <a href="${linkToDetail}">
                    <span class="cart-item-name">${productData.name}</span>
                </a>
                <div class="cart-item-controls">
                    <button class="btn btn-outline-secondary" onclick="decrementQuantity('${cartItemId}')">-</button>
                    <input data-cart-item-id='${cartItemId}' type="text" class="form-control" value='${productData.quantity}' readonly>
                    <button class="btn btn-outline-secondary" onclick="incrementQuantity('${cartItemId}')">+</button>
                    <input price-id="${cartItemId}" value="${productData.price}" type="hidden">
                    <span cart-cost-id='${cartItemId}' class="cart-item-cost">${(productData.quantity * productData.price).toFixed(2)} €</span>
                    <a href="#" onclick="removeCartItem('${cartItemId}')"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        `;
        return newCartItem;
    }

    function createNewProfileCartItemHTML(productData) {
        // Assuming productData has properties similar to cart_item in the Django template
        let linkToDetail = "{% url 'products:detail' 0 %}".replace('0', productData.product_id);
        let newProfileCartItem = document.createElement('div');
        newProfileCartItem.className = 'cart-item mb-3';
        newProfileCartItem.id = `cart-item-${productData.id}`;

        newProfileCartItem.innerHTML = `
            <a href="${linkToDetail}">
                <img src="${productData.image}" alt="${productData.name}" class="cart-item-image">
            </a>
            <div class="cart-item-details">
                <a href="${linkToDetail}">
                    <h5 class="card-title">${productData.name}</h5>
                </a>
                <div class="cart-item-controls">
                    <button class="btn btn-outline-secondary my-btn" onclick="decrementQuantity(${productData.id})">
                        -
                    </button>
                    <input name="basketID" type="text" class="form-control" value="${productData.quantity}" readonly data-cart-item-id="${productData.id}">
                    <button class="btn btn-outline-secondary my-btn" onclick="incrementQuantity(${productData.id})">
                        +
                    </button>
                    <input price-id="${productData.id}" value="${productData.price}" type="hidden">
                    <span cart-cost-id="${productData.id}" class="cart-item-cost">${(productData.quantity * productData.price).toFixed(2)} €</span>
                    <a href="#" onclick="removeCartItem(${productData.id})">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        `;

        return newProfileCartItem;
    }

    function createNewCheckoutCartItemHTML(productData) {
        let linkToDetail = "{% url 'products:detail' 0 %}".replace('0', productData.product_id);
        let newCheckoutCartItem = document.createElement('li');
        newCheckoutCartItem.className = 'list-group-item d-flex justify-content-between lh-sm';
        newCheckoutCartItem.innerHTML = `
            <div style="margin-right: 10px">
                <a href="${linkToDetail}">
                    <h6 class="my-0">${productData.name}</h6>
                </a>
                <small class="text-muted" data-cart-item-id>${productData.quantity} pcs.</small>
            </div>
            <span class="ml-auto" cart-cost-id>${(productData.quantity * productData.price).toFixed(2)}</span>
            <div class="text-muted"> €</div>
        `;

        return newCheckoutCartItem;
    }


    function handleCartItem(cartItemId, productData, productId) {
        let existingCartItemInput = document.querySelector(`[data-cart-item-id='${cartItemId}']`);
        if (existingCartItemInput) {
            let currentQuantity = parseInt(existingCartItemInput.value);
            existingCartItemInput.value = currentQuantity + 1;
            updateFrontCart(cartItemId, 'update');
        } else {
            let newCartItem = createNewCartItemHTML(productData, productId, cartItemId);
            let cartItemsDiv = document.querySelector('.cart-items');
            let totalCostDiv = document.getElementById('total-cost');

            cartItemsDiv.insertBefore(newCartItem, totalCostDiv);
            document.getElementById('cart-content').style.display = 'block';
            document.getElementById('empty-cart-message').style.display = 'none';

            updateFrontCart(cartItemId, 'update');
        }
    }

    function updateCartByProdId(productId, dataSource) {
        let productData = (dataSource === "attributes") ? getProductDataFromAttributes(productId) : getProductDataFromIds();
        if (getAuthenticated()) {
            let csrfToken = getCsrfToken();

            fetch("{% url 'products:add_cart_item' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    'product_id': productId
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    let cartItemId = data.cartItemId;


                    handleCartItem(cartItemId, productData, productId);
                })
                .catch(error => {
                    console.error("There was a problem with the fetch operation:", error);
                });
        } else {
            // If user is not authenticated, use localStorage to store the cart items
            let cartItems = localStorage.getItem('cartItems') ? JSON.parse(localStorage.getItem('cartItems')) : {};

            // Check if the product already exists in the cart
            let existingCartItem = Object.values(cartItems).find(item => item.productId === productId);

            if (existingCartItem) {
                // If the item already exists, increment its quantity
                existingCartItem.quantity = parseInt(existingCartItem.quantity) + 1;
            } else {
                // Generate a unique cart item ID using the current timestamp and a random number
                let cartItemId = 'ci_' + Date.now().toString() + Math.floor(Math.random() * 1000).toString();
                productData.cartItemId = cartItemId; // Add the generated cartItemId to the product data

                // Add the new item with a quantity of 1 and the unique cartItemId
                cartItems[cartItemId] = {...productData, productId: productId, quantity: 1};
            }

            // Save the updated cart items back to local storage
            localStorage.setItem('cartItems', JSON.stringify(cartItems));

            // The cartItemId used in handleCartItem should be the one from productData or a generated one
            handleCartItem(productData.cartItemId || existingCartItem.cartItemId, productData, productId);
        }

    }

    function checkUserAuthenticationAndRedirect() {
        if (!{{ user.is_authenticated|yesno:"true,false" }}) {
            window.location.href = "{% url 'users:login' %}";
        }
    }

    function animateProductCard(productId, selector) {
        let productCardSelector = `[${selector}="${String(productId)}"]`;
        let productCard = document.querySelector(productCardSelector);
        if (productCard) {
            productCard.classList.add('product-added');
            // Remove the animation class after 0.5s to reset the animation
            setTimeout(() => {
                productCard.classList.remove('product-added');
            }, 500);
        }
    }

    function createCartItem(productId, dataSource, cardSelector) {

        updateCartByProdId(productId, dataSource);

        animateProductCard(productId, cardSelector);
    }


</script>
</body>


</html>
