
{% extends 'products/base.html' %}
{% load static %}

<!-- Custom styles for this template -->
{% block css %}
    <link href="{% static '/vendor/css/product_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container detail">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ prod.image.url }}" alt="{{ prod.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>{{ prod.name }}</h1>
                <p>{{ prod.description|safe}}</p>
                <div class="price">
                    <span class="amount">{{ prod.price }} €</span>
                </div>
                <button class="btn btn-primary add-to-cart" prod-id="{{ prod.id }}">Add to Cart</button>
                <a href="{% url 'users:profile' %}" class="btn btn-secondary go-to-cart">Go to Cart</a>
            </div>
        </div>
    </div>
{% endblock %}
