{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static '/vendor/css/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1>{{ title }}</h1>
        <div class="orders mt-5">
            <table class="table">
                <thead>
                <tr class="table-light">
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in object_list %}
                    <tr class="{% if order.get_status == 'Delivered' %}table-success
                        {% elif order.get_status == 'On the way' %}table-info
                        {% elif order.get_status == 'Created' %}table-warning
                        {% elif order.get_status == 'Paid' %}table-secondary
                        {% elif order.get_status == 'Canceled' %}table-danger
                        {% endif %}">
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.get_status }}</td>
                        <td>{{ order.create }}</td>
                        <td>{{ order.cart_history.total_cost }} €</td>
                        <td>
                            <a href="{% url 'orders:order_detail' order.id %}">view</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

