{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static '/vendor/css/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
            <h1>{{ title }}</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object.cart_history.items %}
                    <tr>
                        <th scope="row">{{ item.name }}</th>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }} €</td>
                        <td>{{ item.cost }} €</td>
                    </tr>

                    {% endfor %}


                    </tbody>
                </table>
                <p class="float-right h4 mt-3">Total {{ object.cart_history.total_cost }} €</p>
            </div>
        </div>
{% endblock %}

