{% extends 'products/base.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
    <link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="mt-3 mb-3">Profile</h4>
                <div class="col-lg-12 text-center">
                    <img width="200" height="200"
                         class="img-thumbnail"
                         src="{% if user.image %}{{ user.image.url }}
                {% else %}{% static 'vendor/img/users/default_avatar.jpg' %}{% endif %}"
                         alt="User avatar">
                </div>

                <div class="container">

                    <!-- Existing profile form and other content -->
                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form.first_name.label_tag|add_label_class:"small mb-1"|safe }}
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form.last_name.label_tag|add_label_class:"small mb-1"|safe }}
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="col-lg-12">
                                <div class="custom-file">
                                    {{ form.image }}
                                    <label class="custom-file-label" for="{{ form.image.id_for_label }}">
                                        Choose an image</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form.gender.label_tag|add_label_class:"small mb-1"|safe }}
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form.birthday.label_tag|add_label_class:"small mb-1"|safe }}
                                    {{ form.birthday}}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                {{ form.username.label_tag|add_label_class:"small mb-1"|safe }}
                                {{ form.username }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.email.label_tag|add_label_class:"small mb-1"|safe }}
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12" style="margin-top: 33px;">
                                <input class="btn btn-info btn-block" type="submit" value="Save">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-5">
                {% include 'users/cart.html' %}
            </div>
        </div>
    </div>

{% endblock %}